@font-face {
  font-family: "symbols-technomart";
  font-weight: normal;
  font-style: normal;

  src: url("../font/symbols-technomart.eot?22619757");
  src: url("../font/symbols-technomart.eot?22619757#iefix") format("embedded-opentype"),
  url("../font/symbols-technomart.woff?22619757") format("woff"),
  url("../font/symbols-technomart.ttf?22619757") format("truetype"),
  url("../font/symbols-technomart.svg?22619757#symbols-technomart") format("svg");
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;

  margin: 0;
  padding: 0;

  color: #000;
  background-color: #fff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  font-size: 17px;

  color: #fff;
}

.main-header-top {
  font-size: 0;

  background-color: #293449;
}

.container-top {
  position: relative;
}

.main-header-bottom {
  font-size: 0;

  padding-bottom: 60px;

  background-color: #f1f5f7;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.user-order .header-icon-active {
  padding: 12px 26px 12px 0;

  background-color: #ee3643;
}

.user-order .header-icon-active:hover {
  background-color: #ca2c37;
}

.user-order .header-icon,
.company-info .header-icon {
  position: relative;

  padding-left: 47px;
}

.header-icon::before {
  font-family: "symbols-technomart";
  font-size: 17px;

  position: absolute;
  top: 12px;
  left: 18px;

  opacity: .3;
  color: #fff;
}

.red-btn {
  font-size: 14px;
  line-height: 18px;

  display: block;

  width: 253px;
  height: 28px;
  padding-top: 10px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ee3643;
}

.red-btn:hover {
  background-color: #ca2c37;
}

.red-btn:active {
  background-color: #ba2732;
}

.breadcrumbs {
  margin: 20px 0 18px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  display: inline-block;

  vertical-align: top;
}

.breadcrumbs .home::after {
  font-family: "symbols-technomart";
  font-size: 16px;

  content: "\1f3e0";

  color: #c1c6ce;
}

.breadcrumbs li::before {
  font-family: "symbols-technomart";
  font-size: 14px;

  content: "\3e";

  color: #c1c6ce;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  padding: 0 16px;

  text-decoration: none;
  text-transform: uppercase;

  color: #000;
}

.breadcrumbs .home {
  padding-right: 11px;
  padding-left: 0;
}

.breadcrumbs li:first-child::before {
  display: none;
}

/* Хедер верхний */
.search-field {
  position: relative;
  top:0;
  float: left;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;

  display: inline-block;
  float: left;

  width: 220px;
  height: 26px;
  padding: 10px 0 6px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

input[type="search"] {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 42px;

  width: 220px;
  height: 42px;
  padding: 0;
  padding-left: 47px;

  color: #fff;
  border: none;
  outline: none;
  background: none;
}

.icon-search::before {
  line-height: 42px;

  position: absolute;
  top: 0;

  content: "\1f50d";
}

.search-field:hover .icon-search::before {
  opacity: 1;
}

input[type="search"]:focus {
  color: #000;
  background-color: #fff;
}

input[type="search"]:focus + .icon-search::before {
  color: #ee3643;
  background-color: #fff;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="search"]::-moz-placeholder {
  opacity: 1;
  color: #fff;
}

input[type="search"]:-moz-placeholder {
  opacity: 1;
  color: #fff;
}

input[type="search"]:-ms-input-placeholder {
  color: #fff;
}

.user-block {
  position: absolute;
  top: 0;
  right: 10px;
}

.user-order {
  margin: 0;
  padding: 0;
}

.user-order li {
  display: inline-block;

  vertical-align: top;
}

.user-order a {
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;

  display: inline-block;

  padding: 12px 30px 12px 0;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #fff;
  outline: none;
}

.user-block-order a {
  padding: 12px 22px 12px 20px;
}

.user-order a:hover {
  background-color: #212a3a;
}

.user-block-order a:hover {
  background-color: #5fbb2d;
}

.user-order a:active {
  background-color: #161d29;
}

.user-block-order a:active {
  background-color: #518534;
}
.bookmarks::before {
  content: "\1f516";
}

.shopping-cart::before {
  content: "b";
}

.user-block-order {
  background-color: #63a63e;
}

/* Хедер нижний */
.company-main-title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;

  float: left;

  margin-top: 50px;
  margin-left: 52px;

  color: #ee3643;
}

.company-info {
  float: left;

  margin-top: 45px;
  margin-bottom: 27px;
  margin-left: 72px;

  color: #32425c;
}

.company-phone {
  font-size: 21px;
  line-height: 40px;

  display: inline-block;

  padding-right: 25px;

  vertical-align: top;

  color: #e9292a;
  border: 3px solid white;
}

.company-phone::before {
  font-size: 22px;
  line-height: 40px;

  top: 0;
  left: 0;

  padding: 0 10px 0 13px;

  content: "\1f4de";
  vertical-align: top;

  color: #b7bfc8;
}

.company-adress {
  font-size: 16px;
  line-height: 18px;

  margin-top: 7px;

  text-align: center;
}

.login {
  font-size: 0;
  line-height: 21px;

  float: right;

  max-width: 300px;
  margin-top: 45px;

  color: #000;
}

.login-enter {
  font-size: 21px;

  display: inline-block;

  margin-right: 10px;
  padding: 14px 25px 10px 0;

  vertical-align: top;
  text-decoration: none;

  color: #000;
  background-color: #fff;
}

.login-enter::before {
  font-family: "symbols-technomart";
  font-size: 22px;
  line-height: 22px;

  display: inline-block;

  padding-right: 15px;
  padding-left: 15px;

  content: "\2386";
  vertical-align: top;

  color: #c5c5c5;
}

.login-enter:hover {
  color: #ee3643;
}

.login-enter:hover::before {
  color: #32425c;
}
.login-enter:active {
  color: rgba(0,0,0,.3);
}

.login-enter:active::before {
  color: #c5c5c5;
}

.login-registration {
  font-size: 21px;

  display: inline-block;

  padding: 13px 25px 13px 25px;

  vertical-align: top;
  text-decoration: none;

  color: #000;
  background-color: #fff;
}

.login-registration:hover {
  color: #ee3643;
}

.login-registration:active {
  color: rgba(0,0,0,.3);
}

/*ЛОгин внутренней страницы*/
.user {
  background-color: #fff;
}

.login-user {
  font-size: 21px;
  font-weight: normal;
  line-height: 1.4em;

  position: relative;

  display: inline-block;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 45px;

  vertical-align: top;
  text-decoration: none;

  color: #000;
  background-color: #fff;
}

.login-user::before {
  font-family: "symbols-technomart";
  font-size: 18px;

  position: absolute;
  left: 15px;

  margin: 0;

  content: "\1f468";

  color: #c1c6ce;
}

.login-private {
  font-size: 16px;

  display: inline-block;

  margin-top: 5px;

  vertical-align: top;

  color: #32425c;
}


.login-user-orders {
  position: relative;

  margin-left: 17px;
  padding-right: 32px;
}

.login-user-orders::after {
  position: absolute;
  top: 8px;
  right: 14px;

  width: 4px;
  height: 4px;

  content: "";

  -webkit-border-radius: 50%;

          border-radius: 50%;
  background-color: #32425c;
}


.login-private:hover {
  color: #ee3643;
}

.login-user:active,
.login-user:active::before,
.login-private:active {
  color: #c5c5c5;
}

.logout {
  display: inline-block;

  vertical-align: top;
  text-decoration: none;
}

.logout::after {
  font-family: "symbols-technomart";
  font-size: 22px;

  display: inline-block;

  padding: 13px 10px 13px 38px;

  content: "\241b";
  vertical-align: top;

  color: #c1c6ce;
  background-color: #fff;
}

.logout:hover::after,
.login-user:hover::before {
  color: #000;
}

.logout:active::after {
  color: #c1c6ce;
}

/*Навигация*/

.main-navigation {
  font-size: 0;

  padding-right: 22px;
  padding-left: 22px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
          box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;

  vertical-align: top;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;

  display: inline-block;

  padding: 20px 30px 20px;

  vertical-align: top;
  text-decoration: none;

  color: #fff;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255,255,255,.2);
  background-color: rgba(0,0,0,.3);
}

/* catalog with photo */
.catalog {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  margin-top: 60px;
  margin-bottom: 35px;

  color: #fff;
}

.catalog-left {
  float: left;

  width: 620px;
}

.catalog-right {
  float: right;

  width: 300px;
}

.catalog-photo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding-top: 23px;
  padding-right: 120px;
  padding-bottom: 27px;
  padding-left: 23px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.catalog-left .catalog-photo:first-child {
  margin-right: 20px;
}

.catalog-photo a {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  display: block;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
}

.catalog-materials {
  float: left;

  background-color: #f6b22d;
  background-position: right 0;
}

.catalog-instrument {
  float: right;

  background-color: #4aafde;
  background-position: right -369px;
}

.catalog-technics {
  background-color: #cc79d1;
  background-position: right -492px;
}

.catalog-discount {
  background-color: #85d179;
  background-position: right -123px;
}

.catalog-delivery {
  background-color: #f6b22d;
  background-position: right -246px;
}

.catalog-gallery-slide {
  display: none;
}

.catalog-gallery-slide.current {
  display: block;
}

.catalog-gallery {
  position: relative;

  clear: both;

  width: 620px;
  height: 265px;
}

.catalog-btn {
  width: 135px;
  height: 27px;
  margin-top: 13px;
  padding-top: 11px;

  text-align: center;

  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: rgba(0,0,0,.1);
}

.catalog-btn:hover {
  background-color: rgba(0,0,0,.2);
}

.catalog-btn:active {
  background-color: rgba(0,0,0,.3);
}

.gallery-pagination {
  position: absolute;
  bottom: 15px;

  width: 625px;
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;
}

.gallery-pagination li {
  display: inline-block;

  width: 8px;
  height: 8px;

  vertical-align: top;

  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}

.gallery-pagination .gallery-pagination-active {
  width: 8px;
  height: 8px;

  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ee3643;
}

.gallery-catalog-btn {
  position: absolute;
  bottom: 20px;
  left: 25px;

  width: 195px;
}

.catalog-gallery-title {
  font-size: 36px;
  line-height: 30px;

  position: absolute;
  top: 27px;
  left: 25px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.catalog-gallery-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;

  position: absolute;
  top: 43px;
  left: 25px;
}

.no-js .gallery-arrow {
  display: none;
}

.gallery-arrow {
  font-family: "symbols-technomart";
  font-size: 45px;
  line-height: normal;

  position: absolute;
  top: 0;

  display: block;

  padding: 109px 25px;

  text-decoration: none;

  color: #fff;
}

.gallery-arrow-left {
  left: 0;
}

.gallery-arrow-right {
  right: 0;
}


.gallery-arrow-left:hover,
.gallery-arrow-right:hover {
  -webkit-transform: translateX(5px) scale(1.2);
  -ms-transform: translateX(5px) scale(1.2);
      transform: translateX(5px) scale(1.2);

  color: rgba(255,255,255,.7);
}


/* popular*/
.popular-goods {
  font-size: 0;
}

.item,
.filter-item,
.popular-manufactures-name {
  display: inline-block;

  margin-right: 20px;
  margin-bottom: 20px;

  vertical-align: top;
}

.item,
.filter-item {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

  position: relative;

  width: 217px;

  text-align: center;

  border: 1px solid #e5e5e5;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.filter-item:nth-child(3n) {
  margin-right: 0;
}

.filter-item:nth-child(4n) {
  margin-right: 20px;
}

.new {
  position: relative;
}

.new::before {
  position: absolute;
  z-index: 20;
  top: -1px;
  right: -1px;

  display: block;

  width: 60px;
  height: 60px;

  content: "";

  background: url(../img/flag-new.png) no-repeat 0 0;
}

.catalog-photo.new::before {
  top: 0;
  right: 0;
}

.actions {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  width: 217px;
  height: 78px;
  padding: 45px 0;

  background-color: rgba(255,255,255,.9);
}

.actions .buy,
.actions .bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;

  position: relative;

  display: block;

  width: 133px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 6px 0;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #63a63e;
}

.actions .buy::before {
  font-family: "symbols-technomart";
  font-size: 17px;

  position: absolute;
  top: 7px;
  left: 13px;

  content: "b";
  text-transform: none;

  color: #81868f;
  color: #9cc38a;
}

.actions .buy:hover::before {
  color: white;
}

.actions .buy:hover {
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
  background-color: #5fbb2d;
}

.actions .buy:active {
  background-color: #518534;
}

.actions .buy:active::before {
  color: white;
}

.actions .bookmark:hover {
  border: 3px solid #32425c;
}

.actions .bookmark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.actions .bookmark {
  color: #32425c;
  border-bottom-color: #63a63e;
  background-color: #fff;
}

.item .actions {
  display: none;
}

.item:hover,
.popular-manufactures-name:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,.5);
          box-shadow: 0 10px 25px 0 rgba(0,0,0,.5);
}

.popular-manufactures-name:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,.5);
          box-shadow: 0 4px 10px 0 rgba(0,0,0,.5);
}

.item:hover .actions {
  display: block;
}

.item .item-photo {
  width: 217px;
  height: 168px;
}

.item .item-photo img {
  max-width: 100%;
}

.item .item-title {
  font-family: "PT Sans", "Arial", sans-serif;

  min-height: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0 30px;
}

.item .item-price {
  display: block;

  min-height: 20px;
  margin-bottom: 6px;

  text-decoration: line-through;

  color: #999;
}

.item .price-btn {
  position: relative;

  width: 140px;
  margin: 0 auto 20px;

  -webkit-border-radius: 2px;
          border-radius: 2px;

  background-color: #ee3643;
}

.item .price-btn::after {
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  content: "";

  border: 20px solid white;
  border-left-color: transparent;
}

.item .price-btn:hover {
  background-color: #ca2c37;
}

.item .price-btn:active {
  background-color: #ba2732;
}

.item-new-price {
  font-size: 17px;

  display: block;

  padding-top: 10px;
  padding-bottom: 9px;

  text-align: center;
  text-decoration: none;

  color: #fff;
}

.item-title + .price-btn {
  margin: 36px auto 20px;
}

.popular-header,
.filter-title-header {
  position: relative;

  height: 57px;
  margin-bottom: 20px;
  padding-top: 28px;
  padding-left: 28px;

  background-color: #f7f3ec;
}

.filter-title-header {
  background-color: #f2f6f8;
}

.popular-title,
.filter-title,
.about-instruments-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #32425c;
}

.popular-btn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.popular-manufactures-name img {
  vertical-align: top;

  -webkit-box-shadow: 0 0 0 1px #e5e5e5;
          box-shadow: 0 0 0 1px #e5e5e5;
}

.popular-manufactures-name:nth-child(4n) {
  margin-right: 0;
}

.popular-manufactures-names {
  font-size: 0;

  margin-bottom: 65px;
}


/* services */
.services {
  padding: 67px 0 0;

  background-color: #f2f6f8;
}

.services-header-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1em;

  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  text-transform: uppercase;
}

.services-header-text {
  margin-top: 0;
  margin-bottom: 29px;
}

.no-js .services-list {
  display: none;
}

.services-list {
  float: left;

  width: 240px;
  margin: 0;
  padding: 39px 0 0 0;

  list-style: none;
}

.services-list a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;

  display: block;

  padding: 18px 19px 19px 19px;

  text-decoration: none;

  color: #fff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 1px 0 0 #405069, 0 1px 0 0 #293449;
          box-shadow: inset 0 1px 0 0 #405069, 0 1px 0 0 #293449;
}

.service-active a {
  color: #32425c;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services-list a:hover {
  background-color: #293449;
}


.service-active a:hover {
  background-color: rgba(255,255,255,.5);
}

.service-active a:active,
.services-list a:active {
  color: #32425c;
  background-color: #fff;
}


.services-description {
  display: none;
}

.no-js .services-description,
.services-description-current {
  display: block;
  float: left;

  width: 317px;
  min-height: 287px;
  margin-left: -10px;
  padding: 37px 293px 0 90px;
}

.no-js .services-description {
  float: none;
  width: 407px;
  background-repeat: no-repeat;
  background-position: 240px 62px;
  padding-left: 0;
  margin-left: 0;
}

.no-js .delivery-description {
  background-image: url(../img/truck.png);
}

.delivery-description {
  background: url(../img/list-shadow.png) no-repeat 0 0,
  url(../img/truck.png) no-repeat 240px 62px;
}

.no-js .guarantee-description {
  background-image: url(../img/guarantee.png);
}

.guarantee-description {
  background: url(../img/list-shadow.png) no-repeat 0 0,
  url(../img/guarantee.png) no-repeat 240px 62px;
}

.no-js .credit-description {
  background-image: url(../img/credit.png);
}

.credit-description {
  background: url(../img/list-shadow.png) no-repeat 0 0,
  url(../img/credit.png) no-repeat 240px 62px;
}

.services-description-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1em;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  text-transform: uppercase;

  color: #32425c;
}

.services-description-text {
  margin-top: 0;
}

/* company */
.company {
  padding-top: 80px;
  padding-bottom: 85px;
}

.company-advantages {
  float: left;

  width: 525px;
}

.company-shopping {
  margin: 0 0 26px;
}

.company-shopping.last {
  margin-bottom: 20px;
}

.company-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  text-transform: uppercase;

  color: black;
}

.company-logistics {
  margin: 0 0 35px;
  padding: 0;

  list-style: none;
}

.company-logistics li {
  font-size: 18px;
  line-height: 20px;

  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;
}

.company-logistics li::before {
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 2px;

  content: "";

  background-color: #fb565a;
}

.company-advantages-btn {
  width: 220px;
  margin-top: 0;
}

.company-map-btn {
  width: 300px;
}

.company-contacts {
  float: right;

  width: 300px;
}

.company-contacts-map {
  display: block;

  margin-bottom: 40px;
}

.company-contacts-map img {
  width: 300px;
  height: 160px;

  vertical-align: top;
}

/* внутренняя страница каталога*/
.goods {
  margin-bottom: 40px;
}

.catalog-container-left {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;

  float: left;

  width: 220px;
  margin-right: 20px;

  text-transform: uppercase;

  color: #000;
}

.catalog-container-right {
  font-size: 0;

  float: left;

  width: 700px;
}

.catalog-header-left-title,
.catalog-header-right-title {
  display: inline-block;

  padding: 8px 19px;

  vertical-align: top;

  background-color: #f7f3ec;
}

.catalog-header-left-title {
  display: block;

  padding-right: 0;
}

.catalog-header-right {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;

  margin-bottom: 20px;

  text-transform: uppercase;

  color: #000;
  background-color: #f7f3ec;
}

.filter-header {
  margin-right: 65px;
  padding-bottom: 0;

  vertical-align: top;
  text-decoration: none;

  color: #c4c1bb;
  border-bottom: 1px dotted #ee3643;
  background-color: #f7f3ec;
}

.filter-header-active {
  color: #ee3643;
  border-bottom: none;
}

.sort,
.filter-sort {
  float: right;
}

.sort {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sort a:last-child {
  margin-right: 30px;
}

.filter-sort {
  margin: 8px 15px 0 15px;
}

.filter-sort-down {
  margin-right: 20px;

  text-decoration: none;
}

.filter-sort-up {
  margin-right: 0;

  text-decoration: none;
}

.filter-sort-down::before {
  font-family: "symbols-technomart";
  font-size: 23px;

  content: "\25b2";

  color: #c6c2bd;
}

.filter-sort-up::before {
  font-family: "symbols-technomart";
  font-size: 23px;

  content: "\25bc";

  color: #c6c2bd;
}

.filter-sort-down-active::before,
.filter-sort-down:active::before,
.filter-sort-up:active::before {
  color: #ee3643;
}

.filter-sort-down:hover::before,
.filter-sort-up:hover::before,
.filter-header:hover {
  color: #000;
}

.filter-sort-down-active::before,
.filter-sort-down:active::before,
.filter-sort-up:active::before {
  color: #ee3643;
}

.filter-header:active {
  color: #ee3643;
  border-bottom: none;
}


/*Слайдер цен*/
.range-filter {
  /*width: 220px;*/
  padding: 15px 0 23px;
}

.range-title {
  font-size: 17px;
}

.no-js .range-controls {
  display: none;
}

.range-controls {
  overflow: hidden;

  height: 80px;
  margin-bottom: 10px;
  padding: 0 30px;

  -webkit-border-radius: 5px;

          border-radius: 5px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  position: relative;
  /*width: 160px;*/
  height: 2px;
  margin-top: 40px;

  background-color: #d7dcde;
}

.range-controls .bar {
  position: absolute;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  margin-left: -10px;
  width: 4px;
  height: 4px;

  cursor: default;

  border: 8px solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle:active {
  background-color: #1c4f80;
}

.price-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;

  position: absolute;
  top: 0;
  left: 0;

  width: 96px;
  padding: 10px 0;

  text-align: center;

  color: #283136;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f7f3ec;
}

.price-controls .max-price {
  right: 0;
  left: auto;
}

.price-controls {
  line-height: 42px;

  position: relative;

  text-align: center;
  white-space: nowrap;
}

/* Input*/

.filter-checkbox,
.filter-radio {
  margin-bottom: 22px;
  padding-top: 19px;

  border-top: 1px solid #e5e5e5;
}

.filter-radio {
  margin-bottom: 75px;
}

.filter-input-title {
  font-size: 17px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.filter-checkbox input,
.filter-radio input {
  display: none;
}

.filter-checkbox label,
.filter-radio label {
  font-size: 15px;
  font-weight: normal;

  position: relative;

  display: block;

  margin-bottom: 16px;
  padding-left: 35px;

  cursor: pointer;
}

.filter-checkbox label::before,
.filter-radio label::before {
  font-family: "symbols-technomart";
  font-size: 28px;

  position: absolute;
  top: 0;
  left: 0;

  content: "\2610";

  color: #c1c1c1;
}

.filter-radio label::before {
  content: "\25cb";
}

.filter-radio input:checked + label::before {
  content: "\25cf";
}

.filter-checkbox input:checked + label::before {
  content: "\2611";
}

.filter input[type="submit"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;

  width: 140px;
  padding: 10px 0 8px;

  text-align: center;
  text-transform: uppercase;

  color: #000;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
  background-color: #fff;
}

.filter-checkbox label:hover::before,
.filter-radio label:hover::before {
  color: #b5b5b5;
}

.filter-checkbox input:disabled + label,
.filter-radio input:disabled + label {
  opacity: .3;
  color: #000;
}


/*Пагинатор*/

.filter-paginator {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;

  margin-top: 35px;
  padding: 0;

  list-style: none;

  text-transform: uppercase;

  color: #000;
}

.filter-paginator li {
  display: inline-block;

  margin-right: 5px;
  margin-bottom: 20px;

  vertical-align: top;
}

.filter-paginator a {
  padding: 10px 15px;

  text-decoration: none;

  color: #000;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #fff;
}

.filter-paginator-active a {
  color: #fff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.filter-paginator .filter-paginator-next {
  padding: 10px 31px;
}

.about-instrument {
  padding: 48px 0 65px;

  border: 1px solid #f2f6f8;
  background-color: #f2f6f8;
}

.about-instrument-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;

  margin-bottom: 32px;

  text-transform: uppercase;

  color: #000;
}
.about-instrument p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  padding: 0;

  color: #000;
}

.filter-paginator a:hover,
.filter input[type="submit"]:hover {
  border: 1px solid #bdc6ca;
}

.filter-paginator a:active,
.filter input[type="submit"]:active {
  color: #000;
  border: 1px solid #ee3643;
}

.filter-paginator-active a:hover {
  border: 1px solid #ee3643;
}

/* верхний Footer */
.main-footer-top {
  padding-bottom: 48px;

  background-color: #32425c;
}

.footer-logo-contacts {
  float: left;

  width: 235px;
}

.footer-logo {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;

  display: block;
  float: none;

  width: 210px;
  margin-bottom: 35px;
  padding: 14px 5px 13px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}


.footer-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #fff;
}

.main-footer-bottom {
  padding: 20px 0;
  font-size: 0;
  background-color: #293449;
}

.footer-navigation {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;

  float: right;

  width: 600px;
  margin-top: 20px;
}

.footer-navigation li {
  margin-right: 55px;
}

.footer-navigation li:last-child {
  margin-right: 0;
}

.footer-main-navigation {
  float: right;
}

.footer-main-navigation a {
  text-decoration: none;

  color: #fff;
}

.footer-catalog-navigation {
  float: right;

  margin-top: 15px;
}

.footer-catalog-navigation a {
  text-decoration: none;

  color: #ffd180;
}

.footer-navigation li {
  display: inline-block;

  vertical-align: top;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-main-navigation a:active {
  text-decoration: none;

  color: #a4abb4;
}

.footer-catalog-navigation a:active {
  text-decoration: none;

  color: #ad956f;
}

/* нижний Footer */

.main-footer-copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.main-footer-social {
  margin-right: 112px;
  margin-left: 162px;
}

.social-btn {
  font-family: "symbols-technomart";
  font-size: 18px;
  line-height: 40px;

  display: inline-block;

  width: 40px;
  height: 40px;
  margin-right: 3px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #212a3a;
}

.social-btn:hover {
  background-color: #ee3643;
}

.social-btn:active {
  background-color: #ee3643;
}

.social-btn-vk::before {
  content: "\76";
}

.social-btn-fb::before {
  content: "\66";
}

.social-btn-inst::before {
  content: "\1f4f7";
}

.main-footer-recall {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  margin-right: 61px;
}

.main-footer-copyright-design {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.letters-for-footer-contacts {
  cursor: pointer;

  color: #ffd180;
}

.letters-for-footer-contacts:hover {
  text-decoration: underline;
}

.letters-for-footer-contacts:active {
  text-decoration: none;

  color: #ee3643;
}

.main-footer-copyright,
.main-footer-social,
.main-footer-recall,
.main-footer-copyright-design {
  display: inline-block;

  vertical-align: middle;

  color: #fff;
}

/*Модальные окна*/
.modal {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;

  position: fixed;
  z-index: 30;
  top: 100px;
  left: 50%;

  display: none;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 620px;
  margin-left: -310px;

  color: #000;
  border-top: 7px solid #ee3643;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,.75);
}

.close-btn {
  position: absolute;
  z-index: 50;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  background: url(../img/close-button.png) no-repeat 0 0;
}

.modal-content {
  padding: 50px 80px 38px 80px;

  background-color: #fff;
}

.modal-footer {
  padding: 38px 80px;

  background-color: #f1f1f1;
}

.modal-footer .main-btn,
.modal-footer .secondary-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  float: left;

  width: 220px;
  margin-right: 20px;
  padding-top: 14px;
  padding-bottom: 12px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  outline: none;
}

.modal-footer .secondary-btn {
  margin-right: 0;

  color: #000;
  background-color: #fff;
}

.modal-footer .secondary-btn:hover {
  background-color: rgba(255,255,255,.5);
}

.modal-footer .secondary-btn:active {
  background-color: rgba(255,255,255,.2);
}

.modal-footer .main-btn {
  color: #fff;
  background-color: #ee3643;
}

.modal-footer .main-btn:hover {
  background-color: #ca2c37;
}

.modal-footer .main-btn:active {
  background-color: #ba2732;
}


.modal-content label {
  display: block;
  float: left;

  margin-bottom: 20px;
}

.modal-content input[type="text"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  display: block;

  width: 190px;
  margin-top: 10px;
  padding: 11px 13px 12px 13px;

  color: #999;
  border: 2px solid #d7dcde;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.modal-content .user-name {
  margin-right: 20px;
}

.modal-content .modal-comment {
  float: none;
  clear: both;
}

.modal-comment textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  width: 430px;
  height: 110px;
  margin-top: 10px;
  padding: 11px 13px 12px 13px;

  color: #999;
  border: 2px solid #d7dcde;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.ok {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 100px;

  background: url(../img/ok.png) no-repeat 0 0;
}

.modal-map {
  position: fixed;
  z-index: 40;
  top: 50%;
  left: 50%;

  display: none;

  width: 942px;
  height: 445px;
  margin-top: -270px;
  margin-left: -470px;

  background: #444 url("../pic/big-map.jpg");
  -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
          box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
}

.modal-map-header {
  font-size: 14px;
  line-height: 38px;

  padding-left: 10px;

  text-transform: uppercase;

  background-color: white;
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

/* ФФ дергает окно после анимации если не написать это правило после стандартного */

.modal-content-view {
  display: block;
}

.modal-content-view-intro {
  -webkit-animation: bounce .6s;
  animation: bounce .6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake .6s;
  animation: shake .6s;
}
